$IMCCONFIG

# IMC2 Freedom CL-2.1 for Dawn config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      Dawn
KeepAlive      5
Autoconnect    1
MinPlayerLevel 1
MinImmLevel    92
AdminLevel     98
Implevel       100
InfoName       mudname
InfoHost       localhost.com
InfoPort       4444
InfoEmail      email@email.com
InfoWWW        mudurl
InfoBase       1.7
InfoDetails    Dawn of Time.

# Your server connection information goes here.
# This information should be available from the network you plan to join.
# Visit https://www.themud.org/imc2i3-routers.php and pick the best
# connection to dalnet. Pick your own password or use random numbers
# or the server may assign one to you first time you connect
ServerAddr     97.107.133.86
ServerPort     8888
ClientPwd      2518221575
ServerPwd      serverpassword
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
End

$END
