$IMCCONFIG

# IMC2 Freedom CL-2.1 Smaug config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      WOTL
KeepAlive      5
Autoconnect    1
MinPlayerLevel 1
MinImmLevel    92
AdminLevel     98
Implevel       100
InfoName       Whispers of Times Lost
InfoHost       timeslost.com
InfoPort       4444
InfoEmail      ixliam1@gmail.com
InfoWWW        http://reddit.com/r/wotlmud
InfoBase       v2.1
InfoDetails    Custom fantasy medieval mud up since 1999.

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     97.107.133.86
ServerPort     8888
ClientPwd      1508261505
ServerPwd      serverpassword
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         0
End

$END
